<%- include("layouts/link"); -%>
<%- include("layouts/header"); -%>
<%- include("layouts/menu"); -%>
<!--end-->

<!--banner-->
<div class="ggt">Đối Tác</div>
<!--end-->

<!--NEIRPONG-->
<div class="wzdh">
  <div class="w1200 mbx">Trang Chủ &gt; <a href="http://www.yhhydraulic.com/html/gsjj/gywm.html">Đối Tác</a> &gt;  </div>
</div>

<div class="w1200 nrzk">
  <div class="zblm fl">
    <div class="abb_lm">
      <h3>VỀ CHÚNG TÔI</h3>
      <ul>
        <li><a href="http://www.yhhydraulic.com/Item/list.asp?id=1767">Lịch Sử</a></li>
        <li><a href="http://www.yhhydraulic.com/Item/list.asp?id=1768">Hoạt Dộng</a></li>
        <li><a href="http://www.yhhydraulic.com/Item/list.asp?id=1769">Đối Tác</a></li>
      </ul>
    </div>
        <div class="abztp">
            <img title="" href="../assets/all/about1.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/about1.jpg" src="../assets/all/about1.jpg" border="0">
        </div>
  </div>
    <div class="ybnr fr">
        <p>
            <img src="../assets/all/partner.jpg" title="khhy.jpg" alt="khhy.jpg" width="100%">
        </p>
    </div>
</div>
<div class="clear"></div>
<!--dibu-->
<%- include("layouts/footer"); -%>

<div style="display: none; position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; cursor: move; opacity: 0; background: rgb(255, 255, 255);"></div>
</body>
</html>