<%- include("layouts/link"); -%>
<%- include("layouts/header"); -%>
<%- include("layouts/menu"); -%>
<!--end-->

<!--banner-->
<div class="ggt">Lịch Sử Hình Thành</div>
<!--end-->

<!--NEIRPONG-->
<div class="wzdh">
  <div class="w1200 mbx">Trang Chủ &gt; <a href="http://www.yhhydraulic.com/html/gsjj/gywm.html">Lịch Sử Hình Thành</a> &gt;  </div>
</div>

<div class="w1200 nrzk">
    <div class="zblm fl">
        <div class="abb_lm">
            <h3>VỀ CHÚNG TÔI</h3>
            <ul>
                <li><a href="http://www.yhhydraulic.com/Item/list.asp?id=1767">Lịch Sử</a></li>
                <li><a href="http://www.yhhydraulic.com/Item/list.asp?id=1768">Hoạt Dộng</a></li>
                <li><a href="http://www.yhhydraulic.com/Item/list.asp?id=1769">Đối Tác</a></li>
            </ul>
        </div>
        <div class="abztp">
            <img title="" href="../assets/all/about1.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/about1.jpg" src="../assets/all/about1.jpg" border="0">
        </div>
    </div>
    <div class="ybnr fr">
        <p style="line-height: 3em;"><span style="font-size: 16px;">In 1999,Dongguan Shangyu Machinery Processing Shop was founded in Dalang Town,Dongguan City,operating processing parts,non-standard and hydraulic press machinery.</span></p>
        <p style="line-height: 3em;"><span style="font-size: 16px;">In 2002,for expanding the scope of business,factory firstly moved to a place located in Hekeng Industrial Zone,Qiaotou Town,Dongguan City where covers an area of 600 square meters.It was renamed to Dongguan Yihui Machinery Factory which was specialized to non-standard and hydraulic press machinery.&nbsp;</span></p>
        <p
            style="line-height: 3em;"><span style="font-size: 16px;">In 2004,the factory was secondly relocated in Jiujiangshui,Changping Town,Dongguan City,specializing in hydraulic press machinery for hardware forming.</span></p>
            <p style="line-height: 3em;"><span style="font-size: 16px;">In 2010 "Yihui" trademark was registered.&nbsp;</span></p>
            <p style="line-height: 3em;"><span style="font-size: 16px;">In 2010 passed the inspection done by the State Quality Supervision Bureau.</span></p>
            <p style="line-height: 3em;"><span style="font-size: 16px;">In 2010,factory was moved the third time to Hekeng Industrial Zone,Qiaotou,Dongguan City,with an area of 1,200 square meters,and renamed to Dongguan Yihui Hydraulic Machinery Co.,LTD.</span></p>
            <p style="line-height: 3em;"><span style="font-size: 16px;">In 2011 YIHUI won national invention patents and new type patents,and put into production of numerical control hydraulic press machinery.</span></p>
            <p style="line-height: 3em;"><span style="font-size: 16px;">In 2011 YIHUI won title of Private Science and Technology Enterprises.</span></p>
            <p style="line-height: 3em;"><span style="font-size: 16px;">In 2012 YIHUI expanded production scale with operating area of 3500 square meters,and put into production of servo hydraulic press machinery.</span></p>
            <p style="line-height: 3em;"><span style="font-size: 16px;">In 2015,the Overseas marketing department was established to open up the foreign market;</span></p>
            <p style="line-height: 3em;"><span style="font-size: 16px;">In 2016,YIHUI won 6 national new patents.</span></p>
            <p style="line-height: 3em;"><span style="font-size: 16px;">On 27 Sep.2016,YIHUI got the ISO Quality Management System Certification;</span></p>
            <p style="line-height: 3em;"><span style="font-size: 16px;">On 30th Nov.2016,YIHUI was awarded with the title of High Technology Enterprise.</span></p>
            <p style="line-height: 3em;"><span style="font-size: 16px;">In 2016,YIHUI passed the inspection done by the State Quality Supervision Bureau again.</span></p>
            <p style="line-height: 3em;"><span style="font-size: 16px;">In November 2016,YIHUI was approved by international CE certification;</span></p>
            <p style="line-height: 3em;"><span style="font-size: 16px;">In 2017,YIHUI was specailized in servo deep drawing hydraulic press machine,cold forging hydraulic press machine and the whole line solution.</span></p>
            <p style="line-height: 3em;"><span style="font-size: 16px;">In 2018,YIHUI Alibaba International got SGS approval.</span></p>
            <p style="line-height: 3em;"><span style="font-size: 16px;">In 2019,YIHUI got certified on Made-in-China website.</span></p>
    </div>    
</div>
<div class="clear"></div>
<!--dibu-->
<%- include("layouts/footer"); -%>

<div style="display: none; position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; cursor: move; opacity: 0; background: rgb(255, 255, 255);"></div>
</body>
</html>