<%- include("layouts/link"); -%>
<%- include("layouts/header"); -%>
<%- include("layouts/menu"); -%>
<!--end-->

<!--banner-->
<div class="ggt">Chứng Chỉ Sản Phẩm</div>
<!--end-->

<!--NEIRPONG-->
<div class="wzdh">
  <div class="w1200 mbx">Trang Chủ &gt; <a href="http://www.yhhydraulic.com/html/ryzz/ProductCertificate.html">Chứng Chỉ Sản Phẩm</a> &gt;  </div>
</div>

<div class="w1200 ryzhanshi">
     <ul>
        <li><img title="" href="../assets/all/ry1.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/ry1.jpg" src="../assets/all/ry1.jpg" border="0"></li>
        <li><img title="" href="../assets/all/ry2.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/ry2.jpg" src="../assets/all/ry2.jpg" border="0"></li>
        <li><img title="" href="../assets/all/ry3.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/ry3.jpg" src="../assets/all/ry3.jpg" border="0"></li>
        <li><img title="" href="../assets/all/ry4.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/ry4.jpg" src="../assets/all/ry4.jpg" border="0"></li>
        <li><img title="" href="../assets/all/ry5.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/ry5.jpg" src="../assets/all/ry5.jpg" border="0"></li>
        <li><img title="" href="../assets/all/ry6.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/ry6.jpg" src="../assets/all/ry6.jpg" border="0"></li>
        <li><img title="" href="../assets/all/ry7.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/ry7.jpg" src="../assets/all/ry7.jpg" border="0"></li>
        <li><img title="" href="../assets/all/ry8.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/ry8.jpg" src="../assets/all/ry8.jpg" border="0"></li>
        <li><img title="" href="../assets/all/ry9.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/ry9.jpg" src="../assets/all/ry9.jpg" border="0"></li>
        <li><img title="" href="../assets/all/ry10.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/ry10.jpg" src="../assets/all/ry10.jpg" border="0"></li>
        <li><img title="" href="../assets/all/ry11.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/ry11.jpg" src="../assets/all/ry11.jpg" border="0"></li>
        <li><img title="" href="../assets/all/ry12.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/ry12.jpg" src="../assets/all/ry12.jpg" border="0"></li>
        <li><img title="" href="../assets/all/ry13.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/ry13.jpg" src="../assets/all/ry13.jpg" border="0"></li>
        <li><img title="" href="../assets/all/ry14.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/ry14.jpg" src="../assets/all/ry14.jpg" border="0"></li>
        <li><img title="" href="../assets/all/ry15.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/ry15.jpg" src="../assets/all/ry15.jpg" border="0"></li>
     </ul>
</div>

<div class="clear"></div>

<!--dibu-->
<%- include("layouts/footer"); -%>




<div style="display: none; position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; cursor: move; opacity: 0; background: rgb(255, 255, 255);"></div>
</body>
</html>