<%- include("layouts/link"); -%>
<%- include("layouts/header"); -%>
<%- include("layouts/menu"); -%>
<!--end-->

<!--banner-->
<div class="ggt">Chứng Chỉ</div>
<!--end-->

<!--NEIRPONG-->
<div class="wzdh">
  <div class="w1200 mbx">Trang Chủ &gt; <a href="http://www.yhhydraulic.com/html/ryzz/list_1686.html">Chứng Chỉ</a> &gt;  </div>
</div>

<div class="w1200 ryzs">
     <ul>
        <li><img title="" href="../assets/all/cer1.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/cer1.jpg" src="../assets/all/cer1.jpg" border="0"></li>
        <li><img title="" href="../assets/all/cer2.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/cer2.jpg" src="../assets/all/cer2.jpg" border="0"></li>
        <li><img title="" href="../assets/all/cer3.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/cer3.jpg" src="../assets/all/cer3.jpg" border="0"></li>
        <li><img title="" href="../assets/all/cer4.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/cer4.jpg" src="../assets/all/cer4.jpg" border="0"></li>
        <li><img title="" href="../assets/all/cer5.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/cer5.jpg" src="../assets/all/cer5.jpg" border="0"></li>
        <li><img title="" href="../assets/all/cer6.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/cer6.jpg" src="../assets/all/cer6.jpg" border="0"></li>
     </ul>

</div>

<div class="w1200 nyzh">
    <h3>Exhibition</h3>
    <div id="qyzsnr3">
        <div class="qyzsnr_left3" id="Left_ding3" style="cursor: pointer;">
            <a href="javascript:void(0);">
                <img src="../assets/all/gdz.jpg" width="31" height="40">
            </a>
        </div>
        <div class="qyzsnr_middle" style="width: 1080px; overflow: hidden;">
            <div style="overflow: hidden; zoom: 1; width: 32766px;">
                <div style="float: left;" id="ISL_Cont_1d3"> 
                    <dl>
                        <dt><img title="" href="../assets/all/exh1.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/exh1.jpg" src="../assets/all/exh1.jpg" border="0"></dt>
                    </dl>   
                    <dl>
                        <dt><img title="" href="../assets/all/exh2.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/exh2.jpg" src="../assets/all/exh2.jpg" border="0"></dt>
                    </dl>   
                    <dl>
                        <dt><img title="" href="../assets/all/exh3.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/exh3.jpg" src="../assets/all/exh3.jpg" border="0"></dt>
                    </dl>   
                    <dl>
                        <dt><img title="" href="../assets/all/exh4.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/exh4.jpg" src="../assets/all/exh4.jpg" border="0"></dt>
                    </dl>   
                    <dl>
                        <dt><img title="" href="../assets/all/exh5.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/exh5.jpg" src="../assets/all/exh5.jpg" border="0"></dt>
                    </dl>   
                    <dl>
                        <dt><img title="" href="../assets/all/exh6.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/exh6.jpg" src="../assets/all/exh6.jpg" border="0"></dt>
                    </dl>   
                    <dl>
                        <dt><img title="" href="../assets/all/exh7.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/exh7.jpg" src="../assets/all/exh7.jpg" border="0"></dt>
                    </dl>   
                    <dl>
                        <dt><img title="" href="../assets/all/exh8.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/exh8.jpg" src="../assets/all/exh8.jpg" border="0"></dt>
                    </dl>   
                    <dl>
                        <dt><img title="" href="../assets/all/exh9.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/exh9.jpg" src="../assets/all/exh9.jpg" border="0"></dt>
                    </dl>   
                    <dl>
                        <dt><img title="" href="../assets/all/exh10.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/exh10.jpg" src="../assets/all/exh10.jpg" border="0"></dt>
                    </dl>   
                    <dl>
                        <dt><img title="" href="../assets/all/exh11.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/exh11.jpg" src="../assets/all/exh11.jpg" border="0"></dt>
                    </dl>   
                    <dl>
                        <dt><img title="" href="../assets/all/exh12.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/exh12.jpg" src="../assets/all/exh12.jpg" border="0"></dt>
                    </dl>   
                    <dl>
                        <dt><img title="" href="../assets/all/exh13.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/exh13.jpg" src="../assets/all/exh13.jpg" border="0"></dt>
                    </dl>               
                </div>
            </div>
        </div>
        <div class="qyzsnr_right3" style="cursor: pointer;" id="Right_ding3">
            <a href="javascript:void(0);"><img src="../assets/all/gdy.jpg" width="31" height="40"></a>
        </div>
    </div>
    <script language="javascript" type="text/javascript">  
        var scrollPic_01 = new ScrollPicleft();
        scrollPic_01.scrollContId = "ISL_Cont_1d3"; // 内容容器ID""
        scrollPic_01.arrLeftId = "Left_ding3"; //左箭头ID
        scrollPic_01.arrRightId = "Right_ding3"; //右箭头ID 
        scrollPic_01.frameWidth = 1080; //显示框宽度 
        scrollPic_01.pageWidth =1; //翻页宽度 
        scrollPic_01.speed = 10; //移动速度(单位毫秒，越小越快)
        scrollPic_01.space = 10; //每次移动像素(单位px，越大越快)
        scrollPic_01.autoPlay = true; //自动播放
        scrollPic_01.autoPlayTime =0.03; //自动播放间隔时间(秒)
        scrollPic_01.initialize(); //初始化                 
    </script>
</div>

<div class="clear"></div>

<!--dibu-->
<%- include("layouts/footer"); -%>




<div style="display: none; position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; cursor: move; opacity: 0; background: rgb(255, 255, 255);"></div>
</body>
</html>