<%- include("layouts/link"); -%>
<%- include("layouts/header"); -%>
<%- include("layouts/menu"); -%>

<!--banner-->
<div class="ggt">Liên Hệ Chúng Tôi</div>
<!--end-->

<!--NEIRPONG-->
<div class="wzdh">
  <div class="w1200 mbx">Trang Chủ &gt; <a href="http://www.yhhydraulic.com/html/lxwm/lxwm.html">Liên Hệ</a> &gt;  </div>
</div>

<div class="w1200 nrzk">
  <div class="zblm fl">
    <div class="abb_lm">
      <h3>VỀ CHÚNG TÔI</h3>
      <ul>
        <li><a href="http://www.yhhydraulic.com/Item/list.asp?id=1767">Lịch Sử</a></li>
        <li><a href="http://www.yhhydraulic.com/Item/list.asp?id=1768">Hoạt Động</a></li>
        <li><a href="http://www.yhhydraulic.com/Item/list.asp?id=1769">Đối Tác</a></li>
      </ul>
    </div>
   <div class="nr_lxfs">
    <h3>LIÊN HỆ NGAY</h3>
      <ul>
        <li>DONGGUAN YIHUI HYDRAULIC MACHINERY CO., LTD.</li>
        <li>Address:No.210,Heshi Road,Hekeng Village,Qiaotou Town,Dongguan City,Guangdong Province,China</li>
        <li>Phone:+86 139 2585 3679</li>
        <li>E-mail:<a href="mailto:yh01@yhhydraulic.com">yh01@yhhydraulic.com</a></li>
      </ul>
  </div>
  </div>
  <div class="nylx fr">
    <div class="lxxwo">
      <ul>
        <li>No.210,Heshi Road,Hekeng Village,Qiaotou Town,Dongguan City,Guangdong Province,China</li>
        <li><a href="mailto:yh01@yhhydraulic.com">yh01@yhhydraulic.com</a></li>
        <li>+86 139 2585 3679</li>
      </ul>
    </div>
     <div class="lybt2">
    <p>Gửi Yêu Cầu</p><span>Vui lòng Gửi Cho Chúng tôi Yêu Cầu Của Bạn</span>
  </div>
  <div class="lynr2">
    <form name="myform7" action="http://www.yhhydraulic.com/plus/form/form.asp" onsubmit="return(form_c(7));" target="hidform7" method="post"> 
        <table width="100%" border="0" cellspacing="2" cellpadding="1">
            <tbody>
                <tr class="tdbg" style="float:left; ">
                    <td style="width:380px;">
                        <input type="text" maxlength="255" class="upfile" style="width:357px; height:42px; border:#ccc solid 1px;" id="KS_na" name="name" value="" placeholder="Họ Tên">
                        <span class="formstrck7" id="Name|%|KS_na|%|1" style="display:none"></span>
                        <font color="red"> * </font>
                    </td>

                    <td style="width:380px;">
                        <input type="text" maxlength="255" class="upfile" style="width:357px; height:42px; border:#ccc solid 1px;" id="KS_ph" name="phone" value="" placeholder="Số Điện Thoại">
                        <span class="formstrck7" id="Phone|%|KS_ph|%|1" style="display:none"></span>
                        <font color="red"> * </font>
                    </td>
                </tr>

                <tr class="tdbg" style="float:left;">
                    <td style="width:380px;">
                        <input type="text" maxlength="255" class="upfile" style="width:357px; height:42px; border:#ccc solid 1px;margin-top:20px;" id="KS_am" name="KS_am" value="" placeholder="Email">
                        <span class="formstrck7" id="Email|%|KS_am|%|1" style="display:none"></span>
                        <font color="red"> * </font>
                    </td>

                    <td style="width:380px;">
                        <input type="text" maxlength="255" class="upfile" style="width:357px; height:42px; border:#ccc solid 1px;margin-top:20px;" id="KS_coun" name="country" value="" placeholder="Quốc Gia">
                    </td>
                </tr>

                <tr class="tdbg" style="float:left; width:760px;">
                    <td>
                        <input type="text" maxlength="255" class="upfile" style="width:738px; height:90px; border:#ccc solid 1px; margin-top:20px;" id="KS_mae" name="content" value="" placeholder="Yêu cầu">
                        <span class="formstrck7" id="Message|%|KS_mae|%|1" style="display:none"></span>
                        <font color="red"> * </font>  
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="subtdbg fr" align="center">
                        <input type="submit" value="Xác Nhận" name="submit1" class="sub">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>


  </div>
  </div>
</div>
<div class="clear"></div>
<!--dibu-->
<%- include("layouts/footer"); -%>

<div style="display: none; position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; cursor: move; opacity: 0; background: rgb(255, 255, 255);"></div>
<div style="display: none; position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; cursor: move; opacity: 0; background: rgb(255, 255, 255);"></div>
</body>
</html>