

<!--head-->
<%- include("layouts/link"); -%>
<%- include("layouts/header"); -%>
<%- include("layouts/menu"); -%>


<!--end-->

<!--banner-->
<div id="full-screen-slider">
    <ul id="slides">   
        <li style="background: url(&quot;../assets/all/sl1.jpg&quot;) center top no-repeat; z-index: 900; display: block;"></li>
        <li style="background: url(&quot;../assets/all/sl2.jpg&quot;) center top no-repeat; z-index: 900; display: none;"></li>
        <li style="background: url(&quot;../assets/all/sl3.jpg&quot;) center top no-repeat; z-index: 800; display: none;"></li>
    </ul>
</div>
<div class="clear"></div>
<!--end-->

<!--pro-->
<div class="w1200 pro">
    <h1><a href="http://yhhydraulic.com/Item/list.asp?id=694">SẢN PHẨM</a></h1>
    <div id="qyzsnr">
        <div class="qyzsnr_left" id="Left_ding1" style="cursor: pointer;">
            <a href="javascript:void(0);">
                <img src="../assets/all/gdz.jpg" width="31" height="52">
            </a>
        </div>
        <div class="qyzsnr_middle" style="width: 1080px; overflow: hidden;">
            <div style="overflow: hidden; zoom: 1; width: 32766px;">
                <div style="float: left;" id="ISL_Cont_1d1"> 
                    <dl>
                        <dt>
                            <a href="http://yhhydraulic.com/html/View_1085.html">
                                <img src="../assets/all/201912021532096749.jpg" title="Sliding single action Hydrauli">
                            </a>
                        </dt>
                        <dd>
                            <a href="http://yhhydraulic.com/html/View_1085.html">Sliding&nbsp;single&nbsp;action&nbsp;Hydrauli</a>
                        </dd>
                    </dl>   
                    <dl>
                        <dt>
                            <a href="http://yhhydraulic.com/html/View_1084.html">
                                <img src="../assets/all/2019120215285849777.jpg" title="Four column single action hydr">
                            </a>
                        </dt>
                        <dd><a href="http://yhhydraulic.com/html/View_1084.html">Four&nbsp;column&nbsp;single&nbsp;action&nbsp;hydr</a></dd>
                    </dl>   
                    <dl>
                        <dt>
                            <a href="http://yhhydraulic.com/html/View_1083.html">
                                <img src="../assets/all/2019120215225865435.jpg" title="Sliding Deep Drawing Hydraulic">
                            </a>
                        </dt>
                        <dd><a href="http://yhhydraulic.com/html/View_1083.html">Sliding&nbsp;Deep&nbsp;Drawing&nbsp;Hydraulic</a></dd>
                    </dl>   
                    <dl>
                        <dt><a href="http://yhhydraulic.com/html/View_1082.html"><img src="../assets/all/2019120215080166129.jpg" title="Four Column Deep Drawing Hydra"></a></dt>
                        <dd><a href="http://yhhydraulic.com/html/View_1082.html">Four&nbsp;Column&nbsp;Deep&nbsp;Drawing&nbsp;Hydra</a></dd>
                    </dl>   
                    <dl>
                        <dt><a href="http://yhhydraulic.com/html/View_1081.html"><img src="../assets/all/2019120215060810450.jpg" title="Powder compacting hydraulic pr"></a></dt>
                        <dd><a href="http://yhhydraulic.com/html/View_1081.html">Powder&nbsp;compacting&nbsp;hydraulic&nbsp;pr</a></dd>
                    </dl>   
                    <dl>
                        <dt><a href="http://yhhydraulic.com/html/View_1080.html"><img src="../assets/all/2019121216430556051.jpg" title="sliding hot forging hydraulic "></a></dt>
                        <dd><a href="http://yhhydraulic.com/html/View_1080.html">sliding&nbsp;hot&nbsp;forging&nbsp;hydraulic&nbsp;</a></dd>
                    </dl>   
                    <dl>
                        <dt><a href="http://yhhydraulic.com/html/View_1079.html"><img src="../assets/all/2019120212102676640.jpg" title="four column hot forging hydrau"></a></dt>
                        <dd><a href="http://yhhydraulic.com/html/View_1079.html">four&nbsp;column&nbsp;hot&nbsp;forging&nbsp;hydrau</a></dd>
                    </dl>   
                    <dl>
                        <dt><a href="http://yhhydraulic.com/html/View_1078.html"><img src="../assets/all/2019120212053491356.jpg" title="Heat hydraulic press"></a></dt>
                        <dd><a href="http://yhhydraulic.com/html/View_1078.html">Heat&nbsp;hydraulic&nbsp;press</a></dd>
                    </dl>   
                    <dl>
                        <dt><a href="http://yhhydraulic.com/html/View_1077.html"><img src="../assets/all/2019120212003136909.jpg" title="Fine Blanking hydraulic press"></a></dt>
                        <dd><a href="http://yhhydraulic.com/html/View_1077.html">Fine&nbsp;Blanking&nbsp;hydraulic&nbsp;press</a></dd>
                    </dl>   
                    <dl>
                        <dt><a href="http://yhhydraulic.com/html/View_1076.html"><img src="../assets/all/2019120211540460001.jpg" title="sliding cold forging hydraulic"></a></dt>
                        <dd><a href="http://yhhydraulic.com/html/View_1076.html">sliding&nbsp;cold&nbsp;forging&nbsp;hydraulic</a></dd>
                    </dl>   
                    <dl>
                        <dt><a href="http://yhhydraulic.com/html/View_1075.html"><img src="../assets/all/2019120211210648721.jpg" title="four column cold forging hydra"></a></dt>
                        <dd><a href="http://yhhydraulic.com/html/View_1075.html">four&nbsp;column&nbsp;cold&nbsp;forging&nbsp;hydra</a></dd>
                    </dl>   
                    <dl>
                        <dt><a href="http://yhhydraulic.com/html/View_1074.html"><img src="../assets/all/2019120211022992492.jpg" title="C frame hydraulic press"></a></dt>
                        <dd><a href="http://yhhydraulic.com/html/View_1074.html">C&nbsp;frame&nbsp;hydraulic&nbsp;press</a></dd>
                    </dl>                   
                </div>
            </div>
           
        </div>
        <script>  
            var scrollPic_01 = new ScrollPicleft();
            
            scrollPic_01.scrollContId = "ISL_Cont_1d1"; // 内容容器ID""
            scrollPic_01.arrLeftId = "Left_ding1"; //左箭头ID
            scrollPic_01.arrRightId = "Right_ding1"; //右箭头ID 
            scrollPic_01.frameWidth = 1080; //显示框宽度 
            scrollPic_01.pageWidth =1; //翻页宽度 
            scrollPic_01.speed = 10; //移动速度(单位毫秒，越小越快)
            scrollPic_01.space = 10; //每次移动像素(单位px，越大越快)
            scrollPic_01.autoPlay = true; //自动播放
            scrollPic_01.autoPlayTime =0.03; //自动播放间隔时间(秒)
            scrollPic_01.initialize(); //初始化   
        </script>
        <div class="qyzsnr_right" style="cursor: pointer;" id="Right_ding1">
            <a href="javascript:void(0);">
                <img src="../assets/all/gdy.jpg" width="31" height="52">
            </a>
        </div>
    </div>
</div>
<div class="clear"></div>
<!--end-->

<!--about-->
<div class="about">
    <h1><a href="http://yhhydraulic.com/Item/list.asp?id=1717">VỀ CHÚNG TÔI</a></h1>
    <div class="w1200">
        <div class="fl gd_tp">
            <div id="Roll20194129197111" style="overflow:hidden;height:470px;width:562px;">
                <table align="left" cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr>
                            <td id="Roll201941291971111">
                                <table width="100%" height="100%" border="0">
                                    <tbody>
                                        <tr>
                                            <td style="text-align:center">
                                                <div class="img">
                                                    <a href="http://yhhydraulic.com/html/ryzz/gzhj_1766_23.html" title="work2">
                                                        <img src="../assets/all/2019112712040191307.jpg" border="0" alt="work2" width="562" height="452" align="absmiddle">
                                                    </a>
                                                </div>
                                            </td>
                                            <td style="text-align:center">
                                                <div class="img">
                                                    <a href="http://yhhydraulic.com/html/ryzz/gzhj_1766_22.html" title="work">
                                                        <img src="../assets/all/2019112712035035468.jpg" border="0" alt="work" width="562" height="452" align="absmiddle">
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </td>
                            <td id="Roll201941291971112">
                                <table width="100%" height="100%" border="0">
                                    <tbody>
                                        <tr>
                                            <td style="text-align:center">
                                                <div class="img">
                                                    <a href="http://yhhydraulic.com/html/ryzz/gzhj_1766_23.html" title="work2">
                                                        <img src="../assets/all/2019112712040191307.jpg" border="0" alt="work2" width="562" height="452" align="absmiddle">
                                                    </a>
                                                </div>
                                            </td>
                                            <td style="text-align:center">
                                                <div class="img">
                                                    <a href="http://yhhydraulic.com/html/ryzz/gzhj_1766_22.html" title="work">
                                                        <img src="../assets/all/2019112712035035468.jpg" border="0" alt="work" width="562" height="452" align="absmiddle">
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <script laguage="javascript" type="text/javascript">
                var leftspeed20194129197111 = 30;
                document.getElementById("Roll201941291971112").innerHTML = document.getElementById("Roll201941291971111").innerHTML;
                function MarqueeLeft20194129197111(){
                if(document.getElementById("Roll201941291971112").offsetWidth-document.getElementById("Roll20194129197111").scrollLeft<=0)
                document.getElementById("Roll20194129197111").scrollLeft-=document.getElementById("Roll201941291971111").offsetWidth
                else{
                document.getElementById("Roll20194129197111").scrollLeft++
                }}
                var MyMarleft20194129197111 = setInterval(MarqueeLeft20194129197111, leftspeed20194129197111)
                document.getElementById("Roll20194129197111").onmouseover=function() {clearInterval(MyMarleft20194129197111)}
                document.getElementById("Roll20194129197111").onmouseout=function() {MyMarleft20194129197111=setInterval(MarqueeLeft20194129197111,leftspeed20194129197111)}
            </script>
        </div>
        <div class="fr ab_nr">
            <span>Hồ Sơ Công Ty</span>
            <p><b>Dongguan Yihui Hydraulic Machinery Co.,Ltd.</b>is experienced in designing and manufacturing various types of hydraulic press machines and stamping machines,especially specialized in manufacturing servo 
            hydraulic press machine.The plant is established in 1999,covers an area of 5,000 square meters.We are strictly implement the ISO9001,CE,and SGS,BV management standards.YIHUI brand presses have been exported to 
            over 40 countries,such as Germany,USA,UK,Sweden,France,Japan,Slovenia,Serbia,Saudi Arabia,El Salvador,Togo,Malaysia,Singapore,Australia,Vietnam,Pakistan,South Africa,and so on.Hydraulic press machine mainly 
            applied to hardware,automotive,powder compacting,die casting,electronic,cookware,paper and other industries.We can provide total solutions,including machines,molds,product processing technology,automated production 
            lines.</p>
            <a href="http://yhhydraulic.com/Item/list.asp?id=1717">Xem Thêm ...</a>
        </div>
    </div>
</div>
<div class="clear"></div>
<!--end-->

<!--news-->
<div class="w1200 news">
    <h1><a href="http://yhhydraulic.com/Item/list.asp?id=1691">TIN TỨC</a></h1>
    <div id="qyzsnr2">
        <div class="qyzsnr_left2" id="Left_ding2" style="cursor: pointer;">
            <a href="javascript:void(0);"><img src="../assets/all/xwz.jpg" width="31" height="52"></a>
        </div>
        <div class="qyzsnr_middle2" style="width: 1080px; overflow: hidden;">
            <div style="overflow: hidden; zoom: 1; width: 32766px;">
                <div style="float: left;" id="ISL_Cont_1d2"> 
                    <dl>
                        <dt><a href="http://yhhydraulic.com/html/jjfa/cjwt/2934.html"><img src="../assets/all/15887470638269896.jpg" title="【YIHUI】Received deposit from our "></a></dt>
                        <dd><a href="http://yhhydraulic.com/html/jjfa/cjwt/2934.html">【YIHUI】Received&nbsp;deposit&nbsp;from&nbsp;our&nbsp;</a></dd>
                    </dl>   
                    <dl>
                        <dt><a href="http://yhhydraulic.com/html/jjfa/cjwt/2933.html"><img src="../assets/all/15882118375179716.jpg" title="Filter making machine"></a></dt>
                        <dd><a href="http://yhhydraulic.com/html/jjfa/cjwt/2933.html">Filter&nbsp;making&nbsp;machine</a></dd>
                    </dl>   
                    <dl>
                        <dt><a href="http://yhhydraulic.com/html/jjfa/cjwt/2932.html"><img src="../assets/all/15880541596667402.jpg" title="【YIHUI】International Workers&#39; Day"></a></dt>
                        <dd><a href="http://yhhydraulic.com/html/jjfa/cjwt/2932.html">【YIHUI】International&nbsp;Workers'&nbsp;Day</a></dd>
                    </dl>   
                    <dl>
                        <dt><a href="http://yhhydraulic.com/html/jjfa/cjwt/2931.html"><img src="../assets/all/15879529489235182.jpg" title="【YIHUI】Vietnam customers purchase"></a></dt>
                        <dd><a href="http://yhhydraulic.com/html/jjfa/cjwt/2931.html">【YIHUI】Vietnam&nbsp;customers&nbsp;purchase</a></dd>
                    </dl>   
                    <dl>
                        <dt><a href="http://yhhydraulic.com/html/jjfa/cjwt/2930.html"><img src="../assets/all/15878814556797727.jpg" title="YIHUI brand hydraulic press machine"></a></dt>
                        <dd><a href="http://yhhydraulic.com/html/jjfa/cjwt/2930.html">YIHUI&nbsp;brand&nbsp;hydraulic&nbsp;press&nbsp;machine</a></dd>
                    </dl>   
                    <dl>
                        <dt><a href="http://yhhydraulic.com/html/jjfa/cjwt/2929.html"><img src="../assets/all/15876938743963392.jpg" title="【YIHUI】400 ton sliding H frame se"></a></dt>
                        <dd><a href="http://yhhydraulic.com/html/jjfa/cjwt/2929.html">【YIHUI】400&nbsp;ton&nbsp;sliding&nbsp;H&nbsp;frame&nbsp;se</a></dd>
                    </dl>   
                    <dl>
                        <dt><a href="http://yhhydraulic.com/html/jjfa/cjwt/2928.html"><img src="../assets/all/15875241579044569.jpg" title="【YIHUI】Order  from North Carolina"></a></dt>
                        <dd><a href="http://yhhydraulic.com/html/jjfa/cjwt/2928.html">【YIHUI】Order&nbsp;&nbsp;from&nbsp;North&nbsp;Carolina</a></dd>
                    </dl>   
                    <dl>
                        <dt><a href="http://yhhydraulic.com/html/jjfa/cjwt/2927.html"><img src="../assets/all/15874515203541379.jpg" title="【YIHUI】Fine Blanking Hydraulic Pr"></a></dt>
                        <dd><a href="http://yhhydraulic.com/html/jjfa/cjwt/2927.html">【YIHUI】Fine&nbsp;Blanking&nbsp;Hydraulic&nbsp;Pr</a></dd>
                    </dl>   
                    <dl>
                        <dt><a href="http://yhhydraulic.com/html/jjfa/cjwt/2926.html"><img src="../assets/all/15873685387609754.jpg" title="【YIHUI】Introduction of Double Act"></a></dt>
                        <dd><a href="http://yhhydraulic.com/html/jjfa/cjwt/2926.html">【YIHUI】Introduction&nbsp;of&nbsp;Double&nbsp;Act</a></dd>
                    </dl>   
                    <dl>
                        <dt><a href="http://yhhydraulic.com/html/jjfa/cjwt/2925.html"><img src="../assets/all/15871088686980238.jpg" title="【YIHUI】New condition hydraulic pr"></a></dt>
                        <dd><a href="http://yhhydraulic.com/html/jjfa/cjwt/2925.html">【YIHUI】New&nbsp;condition&nbsp;hydraulic&nbsp;pr</a></dd>
                    </dl>   
                    <dl>
                        <dt><a href="http://yhhydraulic.com/html/jjfa/cjwt/2924.html"><img src="../assets/all/15869384951824216.jpg" title="Maintenance of YIHUI hydraulic pres"></a></dt>
                        <dd><a href="http://yhhydraulic.com/html/jjfa/cjwt/2924.html">Maintenance&nbsp;of&nbsp;YIHUI&nbsp;hydraulic&nbsp;pres</a></dd>
                    </dl>   
                    <dl>
                        <dt><a href="http://yhhydraulic.com/html/jjfa/cjwt/2923.html"><img src="../assets/all/15868432558477812.jpg" title="【YIHUI】Die casting trimming press"></a></dt>
                        <dd><a href="http://yhhydraulic.com/html/jjfa/cjwt/2923.html">【YIHUI】Die&nbsp;casting&nbsp;trimming&nbsp;press</a></dd>
                    </dl>   
                    <dl>
                        <dt><a href="http://yhhydraulic.com/html/jjfa/cjwt/2922.html"><img src="../assets/all/15867631666062055.png" title="150T four column double action deep"></a></dt>
                        <dd><a href="http://yhhydraulic.com/html/jjfa/cjwt/2922.html">150T&nbsp;four&nbsp;column&nbsp;double&nbsp;action&nbsp;deep</a></dd>
                    </dl>   
                    <dl>
                        <dt><a href="http://yhhydraulic.com/html/jjfa/cjwt/2921.html"><img src="../assets/all/15863977154012830.png" title="50T Normal customized Four-column h"></a></dt>
                        <dd><a href="http://yhhydraulic.com/html/jjfa/cjwt/2921.html">50T&nbsp;Normal&nbsp;customized&nbsp;Four-column&nbsp;h</a></dd>
                    </dl>   
                    <dl>
                        <dt><a href="http://yhhydraulic.com/html/jjfa/cjwt/2920.html"><img src="../assets/all/15863243056172331.jpg" title="Wuhan, long time no see!"></a></dt>
                        <dd><a href="http://yhhydraulic.com/html/jjfa/cjwt/2920.html">Wuhan,&nbsp;long&nbsp;time&nbsp;no&nbsp;see!</a></dd>
                    </dl>   
                    <dl>
                        <dt><a href="http://yhhydraulic.com/html/jjfa/cjwt/2919.html"><img src="../assets/all/15862249665208418.jpg" title="Four-column hydraulic press oil lea"></a></dt>
                        <dd><a href="http://yhhydraulic.com/html/jjfa/cjwt/2919.html">Four-column&nbsp;hydraulic&nbsp;press&nbsp;oil&nbsp;lea</a></dd>
                    </dl>   
                    <dl>
                        <dt><a href="http://yhhydraulic.com/html/jjfa/cjwt/2918.html"><img src="../assets/all/15858788894655531.png" title="Tomorrow, The nation mourns"></a></dt>
                        <dd><a href="http://yhhydraulic.com/html/jjfa/cjwt/2918.html">Tomorrow,&nbsp;The&nbsp;nation&nbsp;mourns</a></dd>
                    </dl>   
                    <dl>
                        <dt><a href="http://yhhydraulic.com/html/jjfa/cjwt/2917.html"><img src="../assets/all/15857920101372815.jpg" title="YIHUI 500 Ton  Cold Forging Press"></a></dt>
                        <dd><a href="http://yhhydraulic.com/html/jjfa/cjwt/2917.html">YIHUI&nbsp;500&nbsp;Ton&nbsp;&nbsp;Cold&nbsp;Forging&nbsp;Press</a></dd>
                    </dl>   
                    <dl>
                        <dt><a href="http://yhhydraulic.com/html/jjfa/cjwt/2916.html"><img src="../assets/all/15857037423889646.jpg" title="The Tokyo Olympic Games will start "></a></dt>
                        <dd><a href="http://yhhydraulic.com/html/jjfa/cjwt/2916.html">The&nbsp;Tokyo&nbsp;Olympic&nbsp;Games&nbsp;will&nbsp;start&nbsp;</a></dd>
                    </dl>   
                    <dl>
                        <dt><a href="http://yhhydraulic.com/html/jjfa/cjwt/2914.html"><img src="../assets/all/15855383047894575.png" title="Happy birthday to Lily and Lucia !"></a></dt>
                        <dd><a href="http://yhhydraulic.com/html/jjfa/cjwt/2914.html">Happy&nbsp;birthday&nbsp;to&nbsp;Lily&nbsp;and&nbsp;Lucia&nbsp;!</a></dd>
                    </dl>                   
                </div>
            </div>
        </div>
        <div class="qyzsnr_right2" style="cursor: pointer;" id="Right_ding2">
            <a href="javascript:void(0);"><img src="../assets/all/xwy.jpg" width="31" height="52"></a>
        </div>
    </div>
    <script language="javascript" type="text/javascript">  
        var scrollPic_02 = new ScrollPicleft();
        scrollPic_02.scrollContId = "ISL_Cont_1d2"; // 内容容器ID""
        scrollPic_02.arrLeftId = "Left_ding2"; //左箭头ID
        scrollPic_02.arrRightId = "Right_ding2"; //右箭头ID 
        scrollPic_02.frameWidth = 1080; //显示框宽度 
        scrollPic_02.pageWidth =1; //翻页宽度 
        scrollPic_02.speed = 10; //移动速度(单位毫秒，越小越快)
        scrollPic_02.space = 10; //每次移动像素(单位px，越大越快)
        scrollPic_02.autoPlay = true; //自动播放
        scrollPic_02.autoPlayTime =0.03; //自动播放间隔时间(秒)
        scrollPic_02.initialize(); //初始化                 
    </script>
</div>
<div class="clear"></div>
<!--end-->

<!--lx-->
<div class="lianxi">
    <div class="w1200">
            <h1>Vui Lòng Liên Hệ Chúng Tôi</h1><p>Chúng Tôi Rất Vui Khi Được Phục Vụ!</p>
            <a href="http://yhhydraulic.com/Item/list.asp?id=1688">+84 947 386 888</a>
            <a href="http://yhhydraulic.com/Item/list.asp?id=1688" style="border-left:none">Liên Hệ Ngay</a>
    </div>
</div>
<!--liuyan-->
<div class="liuyan w1200">
    <div class="lybt">
            <p>Message Board</p><span>Welcome to the message and consultation!</span>
    </div>
    <div class="lynr">
        <form name="myform7" action="" onsubmit="" target="hidform7" method="post"> 
            <table width="100%" border="0" cellspacing="2" cellpadding="1">
                <input type="hidden" value="Save" name="action">
                <input type="hidden" value="7" name="id">
                <input type="hidden" value="0" name="m">
                <input type="hidden" value="0" name="d">
                <input type="hidden" value="{$ToUserName}" id="tousername" name="tousername">

                <tbody>
                    <tr class="tdbg" style="float:left; ">
                        <td style="width:380px;">
                            <input type="text" maxlength="255" class="upfile" style="width:357px; height:42px; border:#ccc solid 1px;" id="KS_na" name="KS_na" value="" placeholder="Name">
                            <span class="formstrck7" id="Name|%|KS_na|%|1" style="display:none"></span>
                            <font color="red"> * </font>
                        </td>
                        <td style="width:380px;">
                            <input type="text" maxlength="255" class="upfile" style="width:357px; height:42px; border:#ccc solid 1px;" id="KS_ph" name="KS_ph" value="" placeholder="Phone">
                            <span class="formstrck7" id="Phone|%|KS_ph|%|1" style="display:none"></span>
                            <font color="red"> * </font>
                        </td>
                    </tr>

                    <tr class="tdbg" style="float:left;">
                        <td style="width:380px;">
                            <input type="text" maxlength="255" class="upfile" style="width:357px; height:42px; border:#ccc solid 1px;margin-top:20px;" id="KS_am" name="KS_am" value="" placeholder="Email">
                            <span class="formstrck7" id="Email|%|KS_am|%|1" style="display:none"></span>
                            <font color="red"> * </font>
                        </td>

                        <td style="width:380px;">
                            <input type="text" maxlength="255" class="upfile" style="width:357px; height:42px; border:#ccc solid 1px;margin-top:20px;" id="KS_coun" name="KS_coun" value="" placeholder="Country">
                        </td>
                    </tr>

                    <tr class="tdbg" style="float:left; width:760px;">
                        <td>
                            <input type="text" maxlength="255" class="upfile" style="width:738px; height:90px; border:#ccc solid 1px; margin-top:20px;" id="KS_mae" name="KS_mae" value="" placeholder="Message">
                            <span class="formstrck7" id="Message|%|KS_mae|%|1" style="display:none"></span>
                            <font color="red"> * </font>  
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="subtdbg fr" align="center">
                            <input type="submit" value="Submit" name="submit1" class="sub">
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
<div class="clear"></div>
<!--end-->

<!--dibu-->
<%- include("layouts/footer"); -%>




<div style="display: none; position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; cursor: move; opacity: 0; background: rgb(255, 255, 255);"></div>
<div style="display: none; position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; cursor: move; opacity: 0; background: rgb(255, 255, 255);"></div>
</body>
</html>