<%- include("layouts/link"); -%>
<%- include("layouts/header"); -%>
<%- include("layouts/menu"); -%>
    <!--end-->

    <!--banner-->
    <div class="ggt">Sản Phẩm</div>
    <!--end-->

    <!--NEIRPONG-->
    <div class="wzdh">
        <div class="w1200 mbx">Trang chủ &gt; <a href="http://www.yhhydraulic.com/html/list_694.html">Sản Phẩm</a> &gt; Chi tiết</div>
    </div>

    <div class="w1200 nrzk">
        <div class="zblm fl">
            <div class="abb_lm">
                <h3>ABOUT US</h3>
                <ul>
                    <li><a href="/about/history">Lịch Sử</a></li>
                    <li><a href="/about/activities">Hoạt động</a></li>
                    <li><a href="/about/partner">Đối Tác</a></li>
                </ul>
            </div>
            <div class="nr_lxfs">
                <h3>LIÊN HỆ CHÚNG TÔI</h3>
                <ul>
                    <li>DONGGUAN YIHUI HYDRAULIC MACHINERY CO., LTD.</li>
                    <li>Address:No.210,Heshi Road,Hekeng Village,Qiaotou Town,Dongguan City,Guangdong Province,China</li>
                    <li>Phone:+86 139 2585 3679</li>
                    <li>E-mail:<a href="mailto:yh01@yhhydraulic.com">yh01@yhhydraulic.com</a></li>
                </ul>
            </div>
        </div>
        <div class="fr">
            <div class="picnr">
                <div class="title">four column cold forging hydraulic press</div>
                <div class="clear"></div>
                <div class="picnrbox">
                    <div class="showpic">
                        <script type="text/javascript">
                            var imgArr = '/UploadFiles/2019-12/2019120211210648721.jpg|/UploadFiles/2019-12/2019120211210627968.jpg|/UploadFiles/2019-12/2019120211210716144.jpg|/UploadFiles/2019-12/2019120211210885554.jpg|/UploadFiles/2019-12/2019120211210810293.jpg|/UploadFiles/2019-12/2019120211210892949.jpg|'.split('|');
                            var style = '4';
                            var introArr = '||||||'.split('|');
                            var siteurl = '/';
                            var totalput = 6;
                            var currPage = 1;
                            var iss = 1; //当前张数
                        </script>
                        <div class="imagelist">

                            <div class="defaultimagesrc"><img style="position: relative; cursor: url(&quot;/images/default/arr_left.cur&quot;), auto;" alt="four column cold forging hydraulic press" onload="javascript:resizepic(this)" id="ShowLargeImg" onmouseover="upNext1(this)"
                                    src="../assets/all/2019120211210648721.jpg" border="0"></div>


                            <div class="thumb">
                                <div class="thumb_2">
                                    <div class="thumb_2_1" id="right"></div>
                                    <div class="thumb_2_2" id="left"></div>
                                    <!--缩略图开始-->
                                    <div id="scrool_div">
                                        <ul id="scrool_wrap" style="left: 0px;">
                                            <li><a id="t1" class="normalthumb" href="javascript:void(0)" onclick="showImg(1);"><img src="../assets/all/2019120211210648721.jpg" border="0" class="curimg"></a></li>
                                            <li><a id="t2" class="normalthumb" href="javascript:void(0)" onclick="showImg(2);"><img src="../assets/all/2019120211210627968.jpg" border="0"></a></li>
                                            <li><a id="t3" class="normalthumb" href="javascript:void(0)" onclick="showImg(3);"><img src="../assets/all/2019120211210716144.jpg" border="0"></a></li>
                                            <li><a id="t4" class="normalthumb" href="javascript:void(0)" onclick="showImg(4);"><img src="../assets/all/2019120211210885554.jpg" border="0"></a></li>
                                            <li><a id="t5" class="normalthumb" href="javascript:void(0)" onclick="showImg(5);"><img src="../assets/all/2019120211210810293.jpg" border="0"></a></li>
                                            <li><a id="t6" class="normalthumb" href="javascript:void(0)" onclick="showImg(6);"><img src="../assets/all/2019120211210892949.jpg" border="0"></a></li>
                                        </ul>
                                    </div>
                                    <!--缩略图结束-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear blank10"></div>
                    <div style="background:#f6f6f6; color:#000; height:35px; line-height:35px; padding-left:30px; font-size:14px;">Product details</div>
                    <div class="nph_intro">
                        <p><iframe width="560" height="315" src="https://www.youtube.com/embed/CI0Op13nNIw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                        <p><strong>Technical Features</strong></p>
                        <p>1. Using advanced hydraulic system, more steady, safer and more reliable.</p>
                        <p>2. Pressure, stroke and pressure keeping can be adjusted according to processing requirement.</p>
                        <p>3. Four columns are made of high-strength alloy steel with hard chrome plated surface and good abrasion resistance.</p>
                        <p>4. The moving bolster and worktable are equipped with optional ejecting cylinder, which meets different ejecting requirements of different products.</p>
                        <p>5. Digital control is achieved with PLC programming circuit design and touch panel operating system.</p>
                        <p><img src="../assets/all/15752578259063933.jpg" title="样品1 (1).jpg"></p>
                        <p><br></p>
                        <p><strong>Applicable Scope</strong></p>
                        <p>1. Cold extrusion molding stamping forging for auto parts, LED heat sink and hardware tools, etc.</p>
                        <p>2. Shallow stretching and molding for metal and nonmetal parts.</p>
                        <p><br></p>
                        <p><img src="../assets/all/15752586589697294.jpg" title="01.jpg"></p>
                        <p><img src="../assets/all/15752586584502821.jpg" title="02.jpg"></p>
                        <p><img src="../assets/all/15777833434974958.jpg" title="1.jpg"></p>
                        <p><img src="../assets/all/15777833432878354.jpg" title="2.jpg"></p>
                        <p data-spm-anchor-id="a2700.details.pronpeci14.i33.1901775enrjG9g" style="box-sizing: content-box; margin-top: 0px; margin-bottom: 0px; padding: 0px; border: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 14px; line-height: inherit; font-family: Arial, Helvetica, sans-senif; vertical-align: baseline; color: rgb(51, 51, 51); white-space: normal; background-color: rgb(255, 255, 255);"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: medium; line-height: 24px; font-family: inherit; vertical-align: baseline;"><span style="box-sizing: content-box; font-weight: 700;"><span data-spm-anchor-id="a2700.details.pronpeci14.i7.1901775enrjG9g" style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: 24px; font-family: inherit; vertical-align: baseline; color: rgb(0, 95, 23);">Why so many famous brand company cooperate with us ?</span></span>
                            <br
                                style="box-sizing: content-box;"><br style="box-sizing: content-box;">1.Our factory have specialized in independent development and producing hydraulic press for 19 years.&nbsp;</span>
                        </p>
                        <p data-spm-anchor-id="a2700.details.pronpeci14.i26.1901775enrjG9g" style="box-sizing: content-box; margin-top: 0px; margin-bottom: 0px; padding: 0px; border: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 14px; line-height: inherit; font-family: Arial, Helvetica, sans-senif; vertical-align: baseline; color: rgb(51, 51, 51); white-space: normal; background-color: rgb(255, 255, 255);"><span data-spm-anchor-id="a2700.details.pronpeci14.i20.1901775enrjG9g" style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: medium; line-height: 24px; font-family: inherit; vertical-align: baseline;">&nbsp; &nbsp;So the product is stable and high quality.<br style="box-sizing: content-box;">2. Machine body, we use bending structure , much stronger than the common welding structure .<br style="box-sizing: content-box;">3. Oil pipe, we use Clip-on structure , much tight than common welding structure. Prevent oil leakage.<br style="box-sizing: content-box;">4. We take integrated oil manifold block, much easier to check machine and repair machine.<span class="Apple-converted-space">&nbsp;</span>
                            <br
                                style="box-sizing: content-box;">5.The main components are imported from Germany, Italy and Japan . So the quality is near the Japan production, but the unit price is lower than Japan production.<br style="box-sizing: content-box;">6.Our factory can offer
                                full set line service, such as the mould,process technology, and other relative machines.</span>
                        </p>
                        <p><span data-spm-anchor-id="a2700.details.pronpeci14.i10.1901775enrjG9g" style="box-sizing: content-box; font-weight: 700;">Workpiece samples</span></p>
                        <p style="box-sizing: content-box; margin-top: 0px; margin-bottom: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: medium; line-height: 24px; font-family: inherit; vertical-align: baseline;"><span data-spm-anchor-id="a2700.details.pronpeci14.i11.1901775enrjG9g" style="box-sizing: content-box; font-weight: 700;">150 Ton Hydraulic Hot Die Forging Press</span></span>
                        </p>
                        <p data-spm-anchor-id="a2700.details.pronpeci14.i9.1901775enrjG9g" style="box-sizing: content-box; margin-top: 0px; margin-bottom: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: medium; line-height: 24px; font-family: inherit; vertical-align: baseline;"><span style="box-sizing: content-box; font-weight: 700;">Product Application</span></span>
                        </p>
                        <p style="box-sizing: content-box; margin-top: 0px; margin-bottom: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><span data-spm-anchor-id="a2700.details.pronpeci14.i36.1901775enrjG9g" style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: medium; line-height: 24px; font-family: inherit; vertical-align: baseline;"><br style="box-sizing: content-box;">1) Fine blanking metal parts<br style="box-sizing: content-box;">2) Cold extrusion molding and stamping for LED radiator, auto spare parts, cellphone casing and hardware&nbsp; &nbsp; &nbsp;tools, etc.<br style="box-sizing: content-box;">3) Molding and stamping for metallic and non-metallic.</span></p>
                        <p><img src="../assets/all/15779319322632810.jpg" title="83ca4054b1d6cab5b8cb5944d35a8fd.jpg"></p>
                        <p><img src="../assets/all/15779319322192395.jpg" title="微信图片_20200102093152.jpg"></p>
                        <p><img src="../assets/all/15779319326679212.jpg" title="微信图片_20200102093200.jpg"></p>
                        <p data-spm-anchor-id="a2700.details.pronpeci14.i0.1901775enrjG9g"
                            style="box-sizing: content-box; margin-top: 0px; margin-bottom: 0px; padding: 0px; border: 0px; font: inherit; vertical-align: baseline;"><span style="box-sizing: content-box; font-weight: 700;"><span data-spm-anchor-id="a2700.details.pronpeci14.i2.1901775enrjG9g" style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: large; line-height: 27px; font-family: inherit; vertical-align: baseline; color: rgb(0, 127, 31);">YIHUI Hydraulic press with servo system, can bring you 10 kinds Advantages as below:</span></span>
                            <br
                                style="box-sizing: content-box;"><br style="box-sizing: content-box;"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: medium; line-height: 24px; font-family: inherit; vertical-align: baseline; color: rgb(0, 127, 31);"><span style="box-sizing: content-box; font-weight: 700;">1.</span></span>
                                <span
                                    style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: medium; line-height: 24px; font-family: inherit; vertical-align: baseline;"><span class="Apple-converted-space">&nbsp;</span>Can avoid the oil leakage. Because using Servo motor, the oil temperature can be lower.</span><br style="box-sizing: content-box;"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: medium; line-height: 24px; font-family: inherit; vertical-align: baseline; color: rgb(0, 127, 31);"><span style="box-sizing: content-box; font-weight: 700;">2.</span></span>
                                    <span
                                        data-spm-anchor-id="a2700.details.pronpeci14.i35.1901775enrjG9g" style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: medium; line-height: 24px; font-family: inherit; vertical-align: baseline;"><span class="Apple-converted-space">&nbsp;</span>English and customer country local language, bilingual operation interface, easy to operate.</span><br style="box-sizing: content-box;"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: medium; line-height: 24px; font-family: inherit; vertical-align: baseline;"><span style="box-sizing: content-box; font-weight: 700;"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: 24px; font-family: inherit; vertical-align: baseline; color: rgb(0, 127, 31);">3.</span></span>
                                        <span
                                            data-spm-anchor-id="a2700.details.pronpeci14.i3.1901775enrjG9g" style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: 24px; font-family: inherit; vertical-align: baseline; color: rgb(95, 0, 127);">Can save 50% - 70% energy.</span>
                                            </span><br style="box-sizing: content-box;"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: medium; line-height: 24px; font-family: inherit; vertical-align: baseline;"><span style="box-sizing: content-box; font-weight: 700;"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: 24px; font-family: inherit; vertical-align: baseline; color: rgb(0, 127, 0);">4.</span></span>
                                            <span
                                                data-spm-anchor-id="a2700.details.pronpeci14.i15.1901775enrjG9g" style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: 24px; font-family: inherit; vertical-align: baseline; color: rgb(95, 0, 127);">Parameters and Speed can be adjusted on the touch screen, easy to operate.(Machine without servo system, speed can not been adjusted.)</span>
                                                </span><br style="box-sizing: content-box;"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: medium; line-height: 24px; font-family: inherit; vertical-align: baseline;"><span style="box-sizing: content-box; font-weight: 700;"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: 24px; font-family: inherit; vertical-align: baseline; color: rgb(0, 127, 31);">5.</span></span>
                                                <span
                                                    data-spm-anchor-id="a2700.details.pronpeci14.i1.1901775enrjG9g" style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: 24px; font-family: inherit; vertical-align: baseline; color: rgb(95, 0, 127);">Can be 3 to 5 years longer service life than the common machine.<span class="Apple-converted-space">&nbsp;</span></span>
                                                    </span><br style="box-sizing: content-box;"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: medium; line-height: 24px; font-family: inherit; vertical-align: baseline;">it means,if common machine can service for 10 years, then machine with servo, can use 15 years.</span>
                                                    <br
                                                        style="box-sizing: content-box;"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: medium; line-height: 24px; font-family: inherit; vertical-align: baseline;"><span style="box-sizing: content-box; font-weight: 700;"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: 24px; font-family: inherit; vertical-align: baseline; color: rgb(0, 127, 31);">6.</span></span>
                                                        <span
                                                            data-spm-anchor-id="a2700.details.pronpeci14.i14.1901775enrjG9g" style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: 24px; font-family: inherit; vertical-align: baseline; color: rgb(95, 0, 127);">Ensure safety and easy to know error,easy to do after service. Because of Automatic alarm and auto troubleshooting system.<span class="Apple-converted-space">&nbsp;</span></span>
                                                            </span><br style="box-sizing: content-box;"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: medium; line-height: 24px; font-family: inherit; vertical-align: baseline;"><span style="box-sizing: content-box; font-weight: 700;"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: 24px; font-family: inherit; vertical-align: baseline; color: rgb(0, 127, 0);">7.</span></span>
                                                            <span
                                                                style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: 24px; font-family: inherit; vertical-align: baseline; color: rgb(95, 0, 127);">Very easy to change mold, shorter time of changing mold.</span>
                                                                </span><br style="box-sizing: content-box;"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: medium; line-height: 24px; font-family: inherit; vertical-align: baseline;">Because it have memory function,if use the original mold, do not need to adjust parameter again,<span class="Apple-converted-space">&nbsp;</span></span>
                                                                <br
                                                                    style="box-sizing: content-box;"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: medium; line-height: 24px; font-family: inherit; vertical-align: baseline;"><span style="box-sizing: content-box; font-weight: 700;"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: 24px; font-family: inherit; vertical-align: baseline; color: rgb(0, 127, 0);">8.</span></span>
                                                                    <span
                                                                        style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: 24px; font-family: inherit; vertical-align: baseline; color: rgb(95, 0, 127);">Very quiet , do not have noise.</span>
                                                                        </span><br style="box-sizing: content-box;"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: medium; line-height: 24px; font-family: inherit; vertical-align: baseline;"><span style="box-sizing: content-box; font-weight: 700;"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: 24px; font-family: inherit; vertical-align: baseline; color: rgb(0, 127, 31);">9.</span></span>
                                                                        <span
                                                                            style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: 24px; font-family: inherit; vertical-align: baseline; color: rgb(95, 0, 127);">Much stable than common machine.</span>
                                                                            </span><br style="box-sizing: content-box;"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: medium; line-height: 24px; font-family: inherit; vertical-align: baseline;"><span style="box-sizing: content-box; font-weight: 700;"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: 24px; font-family: inherit; vertical-align: baseline; color: rgb(0, 127, 0);">10.</span></span>
                                                                            <span
                                                                                data-spm-anchor-id="a2700.details.pronpeci14.i27.1901775enrjG9g" style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: 24px; font-family: inherit; vertical-align: baseline; color: rgb(95, 0, 127);">Much high precision than common machine.</span>
                                                                                </span>
                        </p>
                        <p><span data-spm-anchor-id="a2700.details.pronpeci14.i17.1901775enrjG9g" style="box-sizing: content-box; margin: 0px; padding: 8px 10px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: bold; font-stretch: inherit; font-size: inherit; line-height: 12px; font-family: inherit; vertical-align: baseline; background-color: rgb(221, 221, 221); color: rgb(51, 51, 51);">Factory Introduction</span></p>
                        <p><img src="../assets/all/15779319594584806.jpg" title="3.jpg" alt="3.jpg"></p>
                        <p><span style="color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-senif; font-size: medium; background-color: rgb(255, 255, 255);">Dongguan Yihui Hydraulic Machinery Co., Ltd, is experienced in designing and manufacturing various types of hydraulic press machines and stamping machines,especially specialized in<span class="Apple-converted-space">&nbsp;</span></span>
                            <span
                                style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: medium; line-height: 24px; font-family: Arial, Helvetica, sans-senif; vertical-align: baseline; background-color: rgb(255, 255, 255); color: rgb(0, 127, 31);"><span data-spm-anchor-id="a2700.details.pronpeci14.i23.1901775enrjG9g" style="box-sizing: content-box; font-weight: 700;">manufacturing servo hydraulic press machine, cold Forging press machine, hot forging press machine, powder compacting press machine, heat hot hydraulic press machine, stamping hydraulic press.<span class="Apple-converted-space">&nbsp;</span></span>
                                </span><span style="color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-senif; font-size: medium; background-color: rgb(255, 255, 255);">The plant is established in 1999 ,covers an area of 5,000 square meters.<span class="Apple-converted-space">&nbsp;</span></span>
                                <br
                                    style="box-sizing: content-box; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-senif; font-size: medium; white-space: normal; background-color: rgb(255, 255, 255);"><span style="color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-senif; font-size: medium; background-color: rgb(255, 255, 255);">We are strictly implement the<span class="Apple-converted-space">&nbsp;</span></span>
                                    <span
                                        style="box-sizing: content-box; font-weight: 700; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-senif; font-size: medium; background-color: rgb(255, 255, 255);"><span data-spm-anchor-id="a2700.details.pronpeci14.i38.1901775enrjG9g" style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: 24px; font-family: inherit; vertical-align: baseline; color: rgb(0, 127, 63);">ISO9001 , CE, and SGS</span></span>
                                        <span
                                            style="color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-senif; font-size: medium; background-color: rgb(255, 255, 255);"><span class="Apple-converted-space">&nbsp;</span>management standards.<span class="Apple-converted-space">&nbsp;</span></span><br style="box-sizing: content-box; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-senif; font-size: medium; white-space: normal; background-color: rgb(255, 255, 255);">
                                            <br
                                                style="box-sizing: content-box; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-senif; font-size: medium; white-space: normal; background-color: rgb(255, 255, 255);"><span style="color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-senif; font-size: medium; background-color: rgb(255, 255, 255);">YIHUI brand presses have been exported to<span class="Apple-converted-space">&nbsp;</span></span>
                                                <span
                                                    style="box-sizing: content-box; font-weight: 700; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-senif; font-size: medium; background-color: rgb(255, 255, 255);"><span data-spm-anchor-id="a2700.details.pronpeci14.i22.1901775enrjG9g" style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: 24px; font-family: inherit; vertical-align: baseline; color: rgb(0, 127, 31);">over 40 countries, such as Germany, USA, UK, Sweden, Japan, Slovenia, Saudi Arabia, Oman,<span class="Apple-converted-space">&nbsp;</span>
                                                    <span
                                                        style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: 24px; font-family: inherit; vertical-align: baseline;">Russia, Serbia, Georgia, France, Finland,<span class="Apple-converted-space">&nbsp;</span></span>El Salvador, Togo, Malaysia, Singapore, Australia ,<span data-spm-anchor-id="a2700.details.pronpeci14.i37.1901775enrjG9g"
                                                            style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: 24px; font-family: inherit; vertical-align: baseline;">Thailand,</span>Vietnam,
                                                        Pakistan, South Africa,</span>
                                                        </span><span style="color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-senif; font-size: medium; background-color: rgb(255, 255, 255);"><span class="Apple-converted-space">&nbsp;</span>and so on.Hydraulic
                                                        press machine mainly applied to hardware, automotive, die casting, electronic, cookware, paper and other industries.</span><br style="box-sizing: content-box; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-senif; font-size: medium; white-space: normal; background-color: rgb(255, 255, 255);">
                                                        <br
                                                            style="box-sizing: content-box; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-senif; font-size: medium; white-space: normal; background-color: rgb(255, 255, 255);"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: medium; line-height: 24px; font-family: Arial, Helvetica, sans-senif; vertical-align: baseline; background-color: rgb(255, 255, 255); color: rgb(0, 127, 31);"><span data-spm-anchor-id="a2700.details.pronpeci14.i21.1901775enrjG9g" style="box-sizing: content-box; font-weight: 700;">We can provide total solutions, including machines, molds, product processing technology, automated production lines .</span></span>
                        </p>
                        <p><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: medium; line-height: 24px; font-family: Arial, Helvetica, sans-senif; vertical-align: baseline; background-color: rgb(255, 255, 255); color: rgb(0, 127, 31);"><span data-spm-anchor-id="a2700.details.pronpeci14.i21.1901775enrjG9g" style="box-sizing: content-box; font-weight: 700;"></span></span>
                        </p>
                        <p><img src="../assets/all/15779320628292280.jpg" title="4.jpg"></p>
                        <p><img src="../assets/all/15779320629240812.jpg" title="5.jpg"></p>
                        <p><br></p>
                        <p data-spm-anchor-id="a2700.details.pronpeci14.i5.1901775enrjG9g" style="box-sizing: content-box; margin-top: 0px; margin-bottom: 0px; padding: 0px; border: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 14px; line-height: inherit; font-family: Arial, Helvetica, sans-senif; vertical-align: baseline; color: rgb(51, 51, 51); white-space: normal; background-color: rgb(255, 255, 255);"><span style="box-sizing: content-box; font-weight: 700;"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: large; line-height: 27px; font-family: inherit; vertical-align: baseline; color: rgb(0, 127, 0);"></span></span>
                        </p>
                        <p data-spm-anchor-id="a2700.details.pronpeci14.i5.1901775enrjG9g" style="box-sizing: content-box; margin-top: 0px; margin-bottom: 0px; padding: 0px; border: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 14px; line-height: inherit; font-family: Arial, Helvetica, sans-senif; vertical-align: baseline; color: rgb(51, 51, 51); white-space: normal; background-color: rgb(255, 255, 255);"><span style="box-sizing: content-box; font-weight: 700;"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: large; line-height: 27px; font-family: inherit; vertical-align: baseline; color: rgb(0, 127, 0);"><span style="box-sizing: border-box; margin: 0px; padding: 0px; border: 0px; font-variant: inherit; font-weight: 400; font-stretch: inherit; font-size: 14px; line-height: 21px; font-family: Arial, sans-serif; vertical-align: baseline; color: rgb(0, 102, 204);"><span data-spm-anchor-id="a2700.details.pronpeci14.i31.1901775enrjG9g" style="box-sizing: border-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: 16px; line-height: 24px; font-family: inherit; vertical-align: baseline;">Options:</span></span>
                            <br
                                style="box-sizing: content-box;"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-variant: inherit; font-weight: 400; font-stretch: inherit; font-size: 14px; line-height: 21px; font-family: Arial, sans-serif; vertical-align: baseline; color: rgb(34, 34, 34);">Digital&nbsp;Control,&nbsp;Common&nbsp;Control;&nbsp;</span>
                                <br
                                    style="box-sizing: content-box;"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-variant: inherit; font-weight: 400; font-stretch: inherit; font-size: 14px; line-height: 21px; font-family: Arial, sans-serif; vertical-align: baseline; color: rgb(34, 34, 34);">Slow&nbsp;Speed,&nbsp;Medium&nbsp;Speed,&nbsp;Fast&nbsp;Speed;</span>
                                    <br
                                        style="box-sizing: content-box;"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-variant: inherit; font-weight: 400; font-stretch: inherit; font-size: 14px; line-height: 21px; font-family: Arial, sans-serif; vertical-align: baseline; color: rgb(34, 34, 34);">Water&nbsp;Cooler,&nbsp;Air&nbsp;Cooler,&nbsp;Forced&nbsp;Chiller;&nbsp;</span>
                                        <br
                                            style="box-sizing: content-box;"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-variant: inherit; font-weight: 400; font-stretch: inherit; font-size: 14px; line-height: 21px; font-family: Arial, sans-serif; vertical-align: baseline; color: rgb(34, 34, 34);">Die&nbsp;Change/Die&nbsp;Clamp&nbsp;Device;&nbsp;</span>
                                            <br
                                                style="box-sizing: content-box;"><span data-spm-anchor-id="a2700.details.pronpeci14.i24.1901775enrjG9g" style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-variant: inherit; font-weight: 400; font-stretch: inherit; font-size: 14px; line-height: 21px; font-family: Arial, sans-serif; vertical-align: baseline; color: rgb(34, 34, 34); float: none; display: inline !important;">Interval&nbsp;Lubrication,&nbsp;Cycle&nbsp;Lubrication;</span>
                                                <br
                                                    style="box-sizing: content-box;"><span data-spm-anchor-id="a2700.details.pronpeci14.i40.1901775enrjG9g" style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-variant: inherit; font-weight: 400; font-stretch: inherit; font-size: 14px; line-height: 21px; font-family: Arial, sans-serif; vertical-align: baseline; color: rgb(34, 34, 34); float: none; display: inline !important;">Upper&nbsp;Ejector,&nbsp;Bottom&nbsp;Ejector;&nbsp;</span>
                                                    <br
                                                        style="box-sizing: content-box;"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-variant: inherit; font-weight: 400; font-stretch: inherit; font-size: 14px; line-height: 21px; font-family: Arial, sans-serif; vertical-align: baseline; color: rgb(34, 34, 34);">Right/Left&nbsp;Mould&nbsp;Opening&nbsp;Cylinders;&nbsp;</span>
                                                        <br
                                                            style="box-sizing: content-box;"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-variant: inherit; font-weight: 400; font-stretch: inherit; font-size: 14px; line-height: 21px; font-family: Arial, sans-serif; vertical-align: baseline; color: rgb(34, 34, 34);">Die&nbsp;Change&nbsp;Trolley,&nbsp;Lower&nbsp;Moving&nbsp;Bolster;&nbsp;</span>
                                                            <br
                                                                style="box-sizing: content-box;"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-variant: inherit; font-weight: 400; font-stretch: inherit; font-size: 14px; line-height: 21px; font-family: Arial, sans-serif; vertical-align: baseline; color: rgb(34, 34, 34);">With&nbsp;Mould&nbsp;Core-pulling&nbsp;&amp;&nbsp;Ejecting&nbsp;Oil&nbsp;Circuit;&nbsp;</span>
                                                                <br
                                                                    style="box-sizing: content-box;"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-variant: inherit; font-weight: 400; font-stretch: inherit; font-size: 14px; line-height: 21px; font-family: Arial, sans-serif; vertical-align: baseline; color: rgb(34, 34, 34);">Mould&nbsp;Heating&nbsp;&amp;&nbsp;Cooling&nbsp;System.</span></span>
                                                                    </span>
                        </p>
                        <p style="box-sizing: content-box; margin-top: 0px; margin-bottom: 0px; padding: 0px; border: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 14px; line-height: inherit; font-family: Arial, Helvetica, sans-senif; vertical-align: baseline; color: rgb(51, 51, 51); white-space: normal; background-color: rgb(255, 255, 255);"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: 18px; line-height: 27px; font-family: inherit; vertical-align: baseline; background-color: rgb(153, 153, 153); color: rgb(0, 128, 0);"><span style="box-sizing: content-box; font-weight: 700;"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: 27px; font-family: Arial, sans-serif; vertical-align: baseline;">Overseas Exhibitions</span></span>
                            </span>
                        </p>
                        <p data-spm-anchor-id="a2700.details.pronpeci14.i5.1901775enrjG9g" style="box-sizing: content-box; margin-top: 0px; margin-bottom: 0px; padding: 0px; border: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 14px; line-height: inherit; font-family: Arial, Helvetica, sans-senif; vertical-align: baseline; color: rgb(51, 51, 51); white-space: normal; background-color: rgb(255, 255, 255);"><span style="box-sizing: content-box; font-weight: 700;"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: large; line-height: 27px; font-family: inherit; vertical-align: baseline; color: rgb(0, 127, 0);"></span></span>
                        </p>
                        <p><img src="../assets/all/15779320864639326.jpg" title="6.jpg"></p>
                        <p><img src="../assets/all/15779320869005705.jpg" title="7.jpg"></p>
                        <p data-spm-anchor-id="a2700.details.pronpeci14.i5.1901775enrjG9g" style="box-sizing: content-box; margin-top: 0px; margin-bottom: 0px; padding: 0px; border: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 14px; line-height: inherit; font-family: Arial, Helvetica, sans-senif; vertical-align: baseline; color: rgb(51, 51, 51); white-space: normal; background-color: rgb(255, 255, 255);"><span style="box-sizing: content-box; font-weight: 700; color: rgb(51, 51, 51); font-family: Arial, Helvetica, sans-senif; font-size: 14px; background-color: rgb(255, 255, 255);"><span data-spm-anchor-id="a2700.details.pronpeci14.i25.1901775enrjG9g" style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: large; line-height: 27px; font-family: inherit; vertical-align: baseline; color: rgb(0, 127, 0);">Customers brand show</span></span>
                        </p>
                        <p data-spm-anchor-id="a2700.details.pronpeci14.i5.1901775enrjG9g" style="box-sizing: content-box; margin-top: 0px; margin-bottom: 0px; padding: 0px; border: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 14px; line-height: inherit; font-family: Arial, Helvetica, sans-senif; vertical-align: baseline; color: rgb(51, 51, 51); white-space: normal; background-color: rgb(255, 255, 255);"><span style="box-sizing: content-box; font-weight: 700;"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: large; line-height: 27px; font-family: inherit; vertical-align: baseline; color: rgb(0, 127, 0);"><img src="../assets/all/15779321096675779.jpg" title="8.jpg" alt="8.jpg"></span></span><br></p>
                        <p
                            style="box-sizing: content-box; margin-top: 0px; margin-bottom: 0px; padding: 0px; border: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 14px; line-height: inherit; font-family: Arial, Helvetica, sans-senif; vertical-align: baseline; color: rgb(51, 51, 51); white-space: normal; background-color: rgb(255, 255, 255);"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: 18px; line-height: 27px; font-family: inherit; vertical-align: baseline; background-color: rgb(153, 153, 153); color: rgb(0, 128, 0);"><span style="box-sizing: content-box; font-weight: 700;"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: 27px; font-family: Arial, sans-serif; vertical-align: baseline;"></span></span>
                            </span>
                            </p>
                            <p><br></p>
                            <p style="box-sizing: content-box; margin-top: 0px; margin-bottom: 0px; padding: 0px; border: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: 14px; line-height: inherit; font-family: Arial, Helvetica, sans-senif; vertical-align: baseline; color: rgb(51, 51, 51); white-space: normal; background-color: rgb(255, 255, 255);"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: 18px; line-height: 27px; font-family: inherit; vertical-align: baseline; background-color: rgb(153, 153, 153); color: rgb(0, 128, 0);"><span style="box-sizing: content-box; font-weight: 700;"><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: 27px; font-family: Arial, sans-serif; vertical-align: baseline;"><br></span></span>
                                </span><br></p>
                            <p><span style="box-sizing: content-box; margin: 0px; padding: 0px; border: 0px; font-variant-numeric: inherit; font-stretch: inherit; font-size: medium; line-height: 24px; font-family: Arial, Helvetica, sans-senif; vertical-align: baseline; background-color: rgb(255, 255, 255); color: rgb(0, 127, 31);"><span data-spm-anchor-id="a2700.details.pronpeci14.i21.1901775enrjG9g" style="box-sizing: content-box; font-weight: 700;"><br></span></span><br></p>
                    </div>
                    <div class="clear blank10"></div>
                    <div class="nph_tj" style="border-top:#ccc dashed 1px; font-size:15px; background:#eee">
                        <b>PREV：<a href="/products/cframe" title="C frame hydraulic press">C frame hydraulic press</a></b>
                        <b>NEXT：<a href="/products/cold-sliding" title="sliding cold forging hydraulic press">sliding cold forging hydraulic press</a></b>
                    </div>
                    <div class="lybt3">
                        <p>Message Board</p><span>Welcome to the message and consultation!</span>
                    </div>
                    <div class="lynt3">
                        <form name="myform7" action="http://www.yhhydraulic.com/plus/form/form.asp" onsubmit="return(form_c(7));" target="hidform7" method="post">
                            <table width="100%" border="0" cellspacing="2" cellpadding="1">
                                <input type="hidden" value="Save" name="action">
                                <input type="hidden" value="7" name="id">
                                <input type="hidden" value="2" name="m">
                                <input type="hidden" value="1075" name="d">
                                <input type="hidden" value="{$ToUserName}" id="tousername" name="tousername">

                                <tbody>
                                    <tr class="tdbg" style="float:left; ">
                                        <td style="width:380px;"><input type="text" maxlength="255" class="upfile" style="width:357px; height:42px; border:#ccc solid 1px;" id="KS_na" name="KS_na" value="" placeholder="Name">
                                            <span class="formstrck7" id="Name|%|KS_na|%|1" style="display:none"></span>
                                            <font color="red"> * </font>
                                        </td>

                                        <td style="width:380px;"><input type="text" maxlength="255" class="upfile" style="width:357px; height:42px; border:#ccc solid 1px;" id="KS_ph" name="KS_ph" value="" placeholder="Phone">
                                            <span class="formstrck7" id="Phone|%|KS_ph|%|1" style="display:none"></span>
                                            <font color="red"> * </font>
                                        </td>
                                    </tr>

                                    <tr class="tdbg" style="float:left;">
                                        <td style="width:380px;"><input type="text" maxlength="255" class="upfile" style="width:357px; height:42px; border:#ccc solid 1px;margin-top:20px;" id="KS_am" name="KS_am" value="" placeholder="Email"><span class="formstrck7" id="Email|%|KS_am|%|1"
                                                style="display:none"></span>
                                            <font color="red"> * </font>
                                        </td>

                                        <td style="width:380px;"><input type="text" maxlength="255" class="upfile" style="width:357px; height:42px; border:#ccc solid 1px;margin-top:20px;" id="KS_coun" name="KS_coun" value="" placeholder="Country"></td>
                                    </tr>

                                    <tr class="tdbg" style="float:left; width:760px;">
                                        <td><input type="text" maxlength="255" class="upfile" style="width:738px; height:90px; border:#ccc solid 1px; margin-top:20px;" id="KS_mae" name="KS_mae" value="" placeholder="Message">
                                            <span class="formstrck7" id="Message|%|KS_mae|%|1" style="display:none"></span>
                                            <font color="red"> * </font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="subtdbg fr" align="center"><input type="submit" value="Submit" name="submit1" class="sub"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>

    <!--dibu-->
    <%- include("layouts/footer"); -%>
    <div style="display: none; position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; cursor: move; opacity: 0; background: rgb(255, 255, 255);"></div>
    <div style="display: none; position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; cursor: move; opacity: 0; background: rgb(255, 255, 255);"></div>
</body>

</html>