<%- include("layouts/link"); -%>
<%- include("layouts/header"); -%>
<%- include("layouts/menu"); -%>
<!--end-->

<!--banner-->
<div class="ggt">Sản Phẩm</div>
<!--end-->

<!--NEIRPONG-->
<div class="wzdh">
  <div class="w1200 mbx">Trang Chủ &gt; <a href="/products">Sản Phẩm</a> &gt;  </div>
</div>

<div class="w1200 profy">
    <ul>
        <li>
            <a href="/products/cframe">
              <img src="../assets/all/pd1.jpg">
              <p>C&nbsp;frame&nbsp;hydraulic&nbsp;press</p>
            </a>
          </li>
          <li>
            <a href="/products/cold-four">
              <img src="../assets/all/pd2.jpg">
              <p>four&nbsp;column&nbsp;cold&nbsp;forging&nbsp;hydraulic&nbsp;press</p>
            </a>
          </li>
          <li>
            <a href="/products/cold-sliding">
              <img src="../assets/all/pd3.jpg">
              <p>sliding&nbsp;cold&nbsp;forging&nbsp;hydraulic&nbsp;press</p>
            </a>
          </li>
          <li>
            <a href="/products/fine">
              <img src="../assets/all/pd4.jpg">
              <p>Fine&nbsp;Blanking&nbsp;hydraulic&nbsp;press</p>
            </a>
          </li>
          <li>
            <a href="/products/heat">
              <img src="../assets/all/pd5.jpg">
              <p>Heat&nbsp;hydraulic&nbsp;press</p>
            </a>
          </li>
          <li>
            <a href="/products/hot-four">
              <img src="../assets/all/pd6.jpg">
              <p>four&nbsp;column&nbsp;hot&nbsp;forging&nbsp;hydraulic&nbsp;press</p>
            </a>
          </li>
          <li>
            <a href="/products/hot-sliding">
              <img src="../assets/all/pd7.jpg">
              <p>sliding&nbsp;hot&nbsp;forging&nbsp;hydraulic&nbsp;press</p>
            </a>
          </li>
          <li>
            <a href="/products/powder">
              <img src="../assets/all/pd8.jpg">
              <p>Powder&nbsp;compacting&nbsp;hydraulic&nbsp;press</p>
            </a>
          </li>
          <li>
            <a href="/products/servo-four">
              <img src="../assets/all/pd9.jpg">
              <p>Four&nbsp;Column&nbsp;Deep&nbsp;Drawing&nbsp;Hydraulic&nbsp;Press</p>
            </a>
          </li>
          <li>
            <a href="/products/servo-sliding">
              <img src="../assets/all/pd10.jpg">
              <p>Sliding&nbsp;Deep&nbsp;Drawing&nbsp;Hydraulic&nbsp;Press</p>
            </a>
          </li>
          <li>
            <a href="/products/single-four">
              <img src="../assets/all/pd11.jpg">
              <p>Four&nbsp;column&nbsp;single&nbsp;action&nbsp;hydraulic&nbsp;press</p>
            </a>
          </li>
          <li>
            <a href="/products/single-sliding">
              <img src="../assets/all/pd12.jpg">
              <p>Sliding&nbsp;single&nbsp;action&nbsp;Hydraulic&nbsp;Press</p>
            </a>
          </li>
        </ul>
</div>
<div class="clear"></div>

<!--dibu-->
<%- include("layouts/footer"); -%>
<div style="display: none; position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; cursor: move; opacity: 0; background: rgb(255, 255, 255);"></div>
</body>
</html>