<%- include("layouts/link"); -%> 
<%- include("layouts/header"); -%> 
<%- include("layouts/menu"); -%> 
<!--end-->

<!--banner-->
<div class="ggt">Dịch Vụ</div>
<!--end-->

<!--NEIRPONG-->
<div class="wzdh">
  <div class="w1200 mbx">Trang Chủ &gt; <a href="http://www.yhhydraulic.com/html/gsjj/Services.html">Dịch Vụ</a> &gt;  </div>
</div>

<div class="w1200 sev">
  <div class="fl sevzb"><p>ODM,ODM is avaliable,customize avaliable</p><p>We can provide total solutions,including press machines,molds,product processing technology,automated production lines.</p><p>After-sale service:</p><p>Warranty period:we offer free warranty for 12 months after delivery,and provide paid service after free warranty period for life.</p><p>Within the valid free warranty period,we provide free service for non-human damaged parts and we pay for the freight for replacement parts.</p><p>After 12 months valid warranty period,we provide paid service of component and repair,and deal with all the trouble shooting of the whole machine.The travel expenses abroad should be your responsibility.</p><p>After-sale service location is in the customer’s factory.</p><p>YIHUI company can send engineer to customer’s factory to adjust machine and offer training.</p><p>For all the maintenance services above,we will response within 24 hours.</p></div>
  <div class="fr">
      <img src="../assets/all/sev.jpg">
    </div>
</div>
<div class="clear"></div>


<!--dibu-->
<%- include("layouts/footer"); -%>




<div style="display: none; position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; cursor: move; opacity: 0; background: rgb(255, 255, 255);"></div>
</body>
</html>