<%- include("layouts/link"); -%>
<%- include("layouts/header"); -%>
<%- include("layouts/menu"); -%>
<!--end-->

<!--banner-->
<div class="ggt">Bộ Sưu Tập</div>
<!--end-->

<!--NEIRPONG-->
<div class="wzdh">
  <div class="w1200 mbx">Trang chủ &gt; <a href="/videos/gallery">Bộ Sưu Tập</a> &gt;  </div>
</div>

<div class="w1200 ryzhanshi2">
     <ul>
        <li><img title="" href="../assets/all/hc1.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/hc1.jpg" src="../assets/all/hc1.jpg" border="0"></li>
        <li><img title="" href="../assets/all/hc2.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/hc2.jpg" src="../assets/all/hc2.jpg" border="0"></li>
        <li><img title="" href="../assets/all/hc3.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/hc3.jpg" src="../assets/all/hc3.jpg" border="0"></li>
        <li><img title="" href="../assets/all/hc4.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/hc4.jpg" src="../assets/all/hc4.jpg" border="0"></li>
        <li><img title="" href="../assets/all/hc5.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/hc5.jpg" src="../assets/all/hc5.jpg" border="0"></li>
        <li><img title="" href="../assets/all/hc6.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/hc6.jpg" src="../assets/all/hc6.jpg" border="0"></li>
        <li><img title="" href="../assets/all/hc7.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/hc7.jpg" src="../assets/all/hc7.jpg" border="0"></li>
        <li><img title="" href="../assets/all/hc8.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/hc8.jpg" src="../assets/all/hc8.jpg" border="0"></li>
        <li><img title="" href="../assets/all/hc9.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/hc9.jpg" src="../assets/all/hc9.jpg" border="0"></li>
        <li><img title="" href="../assets/all/hc10.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/hc10.jpg" src="../assets/all/hc10.jpg" border="0"></li>
        <li><img title="" href="../assets/all/hc11.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/hc11.jpg" src="../assets/all/hc11.jpg" border="0"></li>
        <li><img title="" href="../assets/all/hc12.jpg" class="scrollLoading swipebox" alt="" style="cursor:pointer;background:url(/images/default/loading.gif) no-repeat center;" data-url="../assets/all/hc12.jpg" src="../assets/all/hc12.jpg" border="0"></li>
     
     </ul>
</div>

<div class="clear"></div>

<!--dibu-->
<%- include("layouts/footer"); -%>
<div style="display: none; position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; cursor: move; opacity: 0; background: rgb(255, 255, 255);"></div>
</body>
</html>