<%- include("layouts/link"); -%>
<%- include("layouts/header"); -%>
<%- include("layouts/menu"); -%>
<!--end-->

<!--banner-->
<div class="ggt">Video</div>
<!--end-->

<!--NEIRPONG-->
<div class="wzdh">
  <div class="w1200 mbx">Trang Chủ &gt; <a href="http://www.yhhydraulic.com/html/list_1773.html">Video</a> &gt;  </div>
</div>


  <div class="video w1200">
      <div class="spzx">
      <ul>
        <li><iframe width="310" height="200" src="https://www.youtube.com/embed/Y8BxYYGxefQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></li>
        <li><iframe width="310" height="200" src="https://www.youtube.com/embed/ummgtuk4aSQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></li>
        <li><iframe width="310" height="200" src="https://www.youtube.com/embed/oN5m0N7w1WQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></li>
        <li><iframe width="310" height="200" src="https://www.youtube.com/embed/T-Dy1aPh_Hg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></li>
        <li><iframe width="310" height="200" src="https://www.youtube.com/embed/IB6MnqoGE4c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></li>
        <li><iframe width="310" height="200" src="https://www.youtube.com/embed/pTnxj29DbvE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></li>
        <li><iframe width="310" height="200" src="https://www.youtube.com/embed/TQ4DNBUKWoU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></li>
        <li><iframe width="310" height="200" src="https://www.youtube.com/embed/xuEMGG1AJfk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></li>
        <li><iframe width="310" height="200" src="https://www.youtube.com/embed/orWx8NOdnPg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></li>
        <li><iframe width="310" height="200" src="https://www.youtube.com/embed/71JJVDBofTQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></li>
        <li><iframe width="310" height="200" src="https://www.youtube.com/embed/pzWSBXqy8NI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></li>
        <li><iframe width="310" height="200" src="https://www.youtube.com/embed/eSEk1cnKRl8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></li>
        <li><iframe width="310" height="200" src="https://www.youtube.com/embed/_Z2hNg9hoG4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></li>
        <li><iframe width="310" height="200" src="https://www.youtube.com/embed/NPrLrDzxVDk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe></li>
      </ul>
      </div>
  </div>
<div class="clear"></div>


<!--dibu-->
<%- include("layouts/footer"); -%>
<div style="display: none; position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; cursor: move; opacity: 0; background: rgb(255, 255, 255);"></div>
</body>
</html>