<div class="dibu">
    <div class="w1100">
        <ul>
            <li>
                <h2>Thông Tin</h2>
                <p><a href="/">Trang Chủ</a></p>
                <p><a href="/about">Về Chúng Tôi</a></p>
                <p><a href="/products">Sản Phẩm</a></p>
                <p><a href="/service">Dịch Vụ</a></p>
                <p><a href="/news">Tin Tức</a></p>
                <p><a href="/video">Video</a></p>
                <p><a href="/certificates">Chứng Chỉ</a></p>
                <p><a href="/contact">Liên Hệ</a></p>
            </li>
            <li>
                <h2>VỀ CHÚNG TÔI</h2>
                <p><a href="/about/history">Lịch Sử</a></p>
                <p><a href="/about/activities">Hoạt Động</a></p>
                <p><a href="/about/partner">Đối Tác</a></p>
            </li>
            <li>
                <h2>LIÊN HỆ</h2>
                <p>Phone:+86 139 2585 3679</p>
                <p>E-mail:<a href="mailto:yh01@yhhydraulic.com">yhhydraulicvn@gmail.com</a></p>
                <p>Địa Chỉ:Số 210, Yên Lãng, Q.Thanh Xuân, Tp.Hà Nội,Việt Nam</p>
            </li>
        </ul>
    </div>

    <div class="zdb">
        <p>Dongguan Yihui Hydraulic Machinery Co.,Ltd.</p>
        <a href="/policy">Chính Sách Bảo Mật</a>　|　<a href="/term">Điều Khoản</a>
    </div>
</div>