<div class="w1200 head">
    <div class="fl hd_zb">
       <img src="../assets/all/logo.jpg">
       <p>Dongguan Yihui Hydraulic Machinery Co.,Ltd.</p>
     </div>
     <div class="fr">
       <a href="https://www.facebook.com/HydraulicPressYihui/?modal=admin_todo_tour" target="_blank"><img src="../assets/all/fb.jpg"></a>
       <a href="https://www.youtube.com/channel/UCMSN7z6nxZAQMhxg5afRMJw?view_as=subscriber" target="_blank"><img src="../assets/all/tb.jpg"></a>
     </div>
 </div>
 
 <div class="clear"></div>