<div id="headz">
    <div class="w1200">
        <div id="headm">
        <div class="nav_menu3">
        <ul>
            <li class="nav-has-sub"><a href="/">trang chủ</a></li>
            <li class="nav-has-sub"><a href="/about">về chúng tôi</a>
            <ul>
                <li><a href="/about/history">Lịch Sử</a></li>
                <li><a href="/about/activities">Hoạt Động</a></li>
                <li><a href="/about/partner">Đối Tác</a></li>
            </ul>
            </li>
            <li class="nav-has-sub"><a href="/products">sản phẩm</a>
            <ul>
                <li class="nav-has-sub"><a href="/#">Servo Deep Drawing Hydraulic press</a>
                <ul>
                <li><a href="/products/servo-four">Four Column Deep Drawing Hydraulic Press</a></li>
                <li><a href="/products/servo-sliding">Sliding Deep Drawing Hydraulic Press</a></li>
                </ul>
            </li>

                <li class="nav-has-sub"><a href="/#">Cold Forging Hydraulic Press</a>
                <ul>
                <li><a href="/products/cold-four">Four Column Cold Forging Hydraulic Press</a></li>
                <li><a href="/products/cold-sliding">Sliding Cold Forging Hydraulic Press</a></li>
                </ul>
            </li>

            <li class="nav-has-sub"><a href="/#">Hot Forging Hydraulic Press</a>
                <ul>
                <li><a href="/products/hot-four">Four Column Hot Forging Hydraulic Press</a></li>
                <li><a href="/products/hot-sliding">Sliding Hot Forging Hydraulic Press</a></li>
                </ul>
            </li>

            <li class="nav-has-sub"><a href="/#">Single Action Hydraulic Press</a>
                <ul>
                <li><a href="/products/single-four">Four Column Single Action Hydraulic Press</a></li>
                <li><a href="/products/single-sliding">Sliding Single Action Hydraulic Press</a></li>
                </ul>
            </li>

                <li><a href="/products/powder">Powder Compacting Hydraulic Press</a></li>
                <li><a href="/products/heat">Heat Hydraulic Press</a></li>
                <li><a href="/products/fine">Fine Blanking Hydraulic Press</a></li>
                <li><a href="/products/cframe">C frame Hydraulic Press</a></li>
            </ul>
            </li>
            <li class="nav-has-sub"><a href="/service">dịch vụ</a></li>

            <li class="nav-has-sub"><a href="/news">tin tức</a>  
            <ul>
                <li><a href="http://yhhydraulic.com/Item/list.asp?id=1724">Triển Lãm</a></li>
                <li><a href="http://yhhydraulic.com/Item/list.asp?id=1756">Tin Khác</a></li>
            </ul>
            </li>
            <li class="nav-has-sub"><a href="/video">video</a>
            <ul>
            <li><a href="/video/gallery">Bộ Sưu Tập</a></li>
            </ul>
            </li>
            <li class="nav-has-sub"><a href="/certificate">chứng chỉ</a>
            <ul>
                <li><a href="/certificate/products">Chứng Chỉ Sản Phẩm</a></li>
            </ul>
            </li>
            <li class="nav-has-sub"><a href="/contact">liên hệ</a></li>
        </ul>
        </div>
        </div>

        <div class="fr sousuo">
                <form action="http://yhhydraulic.com/plus/search/" method="get" name="searchbform" id="searchbform">
                    <input class="text2" id="key" name="key" size="12" style="width:139px; height:39px; line-height:24px; background: url(/web/images/ss1.jpg); float:left;" type="text" value="　Search">
                    <input class="qr" name="submit" style="width:41px; border:none; height:39px; background: url(/web/images/ss2.jpg); float:right; color:#FFFFFF; cursor:pointer;" type="submit" value=".">
                </form>
        </div>
    </div>
</div>
<div class="clear"></div>